In [13]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import normalize

file_path = 'Train_v1.txt'
column_names = ['toRemove', 'isSarcastic', 'text']

# Read the dataset
dataset = pd.read_csv(file_path, sep='\t', header=None, names=column_names)

In [14]:
import text_mining_utils as tmu

In [15]:
import pandas as pd

# Assuming 'dataset' is your DataFrame
# Shuffle the dataset
dataset_shuffled = dataset.sample(frac=1, random_state=42)

# Calculate the number of samples for 1/4 of the dataset
data_sample = len(dataset) // 2

# Take the first quarter of the shuffled dataset
quarter_dataset = dataset_shuffled.iloc[:data_sample]

# Now, quarter_dataset contains a representative 1/4 subset of your original dataset


total_rows = len(quarter_dataset)
print(total_rows)

19890

In [ ]:
class_distribution = y = quarter_dataset['is_sarcastic'].value_counts()
print(class_distribution)

In [17]:
baseline_count_matrix = tmu.build_count_matrix(quarter_dataset.text)
baseline_count_matrix.head()

   !  "  #  $  %  &  '  (  )  *  ...  󾌧  󾌮  󾌴  󾌸  󾍀  󾍃  󾓤  󾭻  󾮗  󾮚
0  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1  0  0  1  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3  1  0  1  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4  0  0  2  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 28723 columns]

In [18]:
baseline_tf_matrix = tmu.build_tf_matrix(quarter_dataset.text)
baseline_tf_matrix.head()

,!,"""",#,$,%,&,',(,),*,...,󾌧,󾌮,󾌴,󾌸,󾍀,󾍃,󾓤,󾭻,󾮗,󾮚
0,0.071429,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.062500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.050000,0.0,0.050000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.068966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
baseline_tfidf_matrix = tmu.build_tfidf_matrix(quarter_dataset.text)
baseline_tfidf_matrix.head()

,!,"""",#,$,%,&,',(,),*,...,󾌧,󾌮,󾌴,󾌸,󾍀,󾍃,󾓤,󾭻,󾮗,󾮚
0,0.145916,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.057294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.124397,0.0,0.065358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.104028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#baseline model preformace
from sklearn.svm import SVC

clf = SVC(random_state=1)
y = quarter_dataset.is_sarcastic

tmu.printClassifReport(clf, baseline_count_matrix, y)
tmu.printClassifReport(clf, baseline_tf_matrix, y)
tmu.printClassifReport(clf, baseline_tfidf_matrix, y)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=1)

y = quarter_dataset.is_sarcastic

tmu.printClassifReport(dt_clf, baseline_count_matrix, y)
tmu.printClassifReport(dt_clf, baseline_tf_matrix, y)
tmu.printClassifReport(dt_clf, baseline_tfidf_matrix, y)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
KNN_clf = KNeighborsClassifier()

y = quarter_dataset.is_sarcastic

tmu.printClassifReport(KNN_clf, baseline_count_matrix, y)
tmu.printClassifReport(KNN_clf, baseline_tf_matrix, y)
tmu.printClassifReport(KNN_clf, baseline_tfidf_matrix, y)